<!--The content below is only a placeholder and can be replaced.-->
 {{kd}}
<footer class="textDanger" style="height: 3cm" >
   <a href="" id="01" > Login  </a>
    <a href="" id="02">Signin</a>
  <h1 style="text-align:left" [ngStyle]="titlestyle">
    <a href="">Jani's World<img src="{{imageSrc}}" style="width:20px"></a> 
  </h1>
   Search <input type="text" value="" style="width: 10cm" #myinput >
   <button  (click)="onClick(myinput.value)">Enter</button>
</footer>

<div>
  <div style="text-align:center">
    <h1  style="background-color:rgb(30, 255, 169);">
     <h2  [style.color]="hasError ? 'red':'brown'">Lumber 1 Book </h2 >{{ title }}hahah
    </h1>
    <a >
    <div class="bookimg" style="right: 2cm"><img src="{{imageSrc}}"> <br> 
    <div class="bookimg" ><img src="{{imageSrc2}}"></div>
    <div class="bookimg" ><img src="{{imageSrc3}}"></div>
    <div class="bookimg" ><img src="{{imageSrc4}}"></div>
    <div class="bookimg" ><img src="{{imageSrc5}}"></div>
    <div class="bookimg" ><img src="{{imageSrc6}}"></div></div>
   
  </a>
</div>
<br >
<br >
<br >
<br ><br >
    <div *ngFor="let im of images"  >
      <img src="{{im}}"> 
    
    </div>
      
  <app-test></app-test>
</div>