 
<h2>Here are some links to help you start: </h2>
<ul>
    <h2><a  target="_blank" rel="noopener" href="https://www.facebook.com/profile.php?id=100009969547979">Jani's Profile</a></h2>
    <h2>Aurther's Profile</h2>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.facebook.com/hamza.sohail.69">Hamza Sohail</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.facebook.com/rana.khizar.3766">Khizar Hayyat</a></h2>
  </li>
</ul>
<h3> Enter Comment</h3> 
<input [id]="myid" #myinput type="text" >
<button (click)="logMessage(myinput.value)">Send</button>
