<div>
  <div class="container mb-5">
    <h1 class="display-3 text-center">We are Dabba</h1>
  </div>

  <section class="features2 morest" id="features2-m">
    <div class="container">
      <div class="card-group">
        <!--bootstrap card with 3 horizontal images-->
        <div class="row">
          <div class="col-md-4 mb-3 p-3" *ngFor="let d of dat; let i = index">
            <div class="card bg-transparent border-0 align-items-center">
              <img
                style="height:15rem; width:15rem"
                class="card-img-top rounded-circle"
                src="{{ da[i] }}"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title text-center">{{ d.name }}</h5>
                <p class="card-text lead">
                  {{ d.para }}
                </p>
                <a
                  routerLink="{{ d.page }}"
                  routerLinkActive="active"
                  class="btn btn-outline-secondary"
                  >More About {{ d.name }}</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
