<div
  style="background-image: url('chota.jpg'); opacity: 0.7;"
  class=" container container-fluid text-light p-5"
>
  <h1 class=" display-3 text-center mb-5">About Dabba</h1>
  <div class=" container">
    <img src="aboutcover.jpg" class="img-responsive" />
    <p class=" lead text-center">
      We are Computer Engineers. Engineering students of other department use
      the word "Dabba" to make fun of us. Dabba means "Box", that refers to the
      CPU. We are the batch of 2016-20.
    </p>
  </div>
</div>
